<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Try Express</title>
</head>
<body>
  <header>
    <nav class="navs">
      <div class="nav-home">
        <button class="btn-home"><a href="/">回到首頁</a>
      </button>
      </div>
      <div class="nav-change-pages">
        <button class="btn-about"><a href="/about">About</a></button>
        <button class="btn-portfolio"><a href="/portfolio">Portfolio</a></button>
        <button class="btn btn-contact"><a href="/contact" class="contact">Contact</a></button>
      </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>
  <script src="/javascripts/main.js"></script>
</body>
</html>